.main span:first-child {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    line-height: 45px;
    color: rgba(0, 0, 0, 0.87);
}

.main span {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
}

.main .search {
    margin-bottom: 40px;
}

.main .container {
    margin-top: 10px;
}

.main .courier-history {
    float: left;
}

.main .courier-history .user-picture {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 6px;
}

.main .courier-history span {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
}