.main .container {
    margin-top: 0;
}

.main ul {
    margin-top: 5px;
    margin-left: 60px;
}

.main .cafe-picture {
    cursor: pointer;
}

.main .description {
    cursor: pointer;
}

.main .cafe-name span {
    margin-left: 25px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
    cursor: default;
}

.main .cafe-name img {
    padding-bottom: 7px;
}

.main .cafe-name {
    float: left;
    line-height: 50px;
}

.main .search {
    margin-bottom: 30px;
}

.main .add-item {
    float: right;
    line-height: 40px;
    margin-right: 30px;
    cursor: pointer;
}

.main .delete-item {
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
    color: #ff7901;
    padding-top: 2px;
    cursor: pointer;
}

.main .add-item span {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.54);
    margin-left: 5px;
}

.main .description .dish-name {
    width: 65%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.6vw;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.main .description .dish-description {
    font-size: 0.9vw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(255, 255, 255, 0.87);
    float: left;
    margin-top: 2%;
    width: 75%;
}

.main .description .dish-price {
    font-size: 1.6vw;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #ffffff;
    float: right;
}

.main .container .description {
    bottom: 20%;
}

.main .container .col-md-3 .cafe-picture {
    margin-bottom: 20px;
}

.main .container .col-md-3 div:last-child img {
    width: auto;
    opacity: 1;
}

.main .container .col-md-3 div:last-child img:first-child {
    padding-bottom: 5px;
}

.main .container .col-md-3 div:last-child span {
    margin-left: 3px;
    margin-right: 5px;
    cursor: default;
}

.main .container .col-md-3 div:last-child span:last-child {
    float: right;
    padding-right: 5%;
    cursor: pointer;
}

.main .container .col-md-3:last-child .cafe-picture {
    background: black;
}

.main .container .col-md-3:last-child img {
    opacity: 0.6;
}

.main .col-md-12 {
    height: 40px;
    background-color: rgba(0, 0, 0, 0.05);
}

.main .col-md-12:nth-child(odd) {
    height: 40px;
    background-color: #ffffff;
}

.main .col-md-12:first-child span {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
    margin-right: 15%;
}

.main .col-md-12 span {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
    margin-right: 20%;
    line-height: 40px;
}
.main .col-md-12 .all {
    margin-left: 1%;
}
.main .col-md-12 .name {
    margin-left: 2%;
}

.main .col-md-12 .col {
    margin-left: 3%;
}

.main .col-md-12 .price {
    margin-left: 3%;
}

.main .col-md-12 span:last-child {
    margin-right: 0;
}

.main .col-md-12 {
    padding: 0;
}
.main .table {
    margin-top: 40px;
}

/*Modal*/

.modal-dialog {
    width: 460px;
}

.modal-body {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 70px;
}

.modal-body .dish-description label {
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
    width: 300px;
    margin-bottom: 10px;
}

.modal-body .dish-description input {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    background-color: #f9f9f9;
    border: solid 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding-left: 15px;
}

.modal-body .dish-description .price {
    width: 120px;
    height: 50px;
    border-radius: 5px;
    background-color: #f9f9f9;
    border: solid 1px rgba(0, 0, 0, 0.1);
}

.modal-body .dish-description .load {
    width: 170px;
    height: 49px;
    border-radius: 5px;
    float: right;
    overflow: hidden;
    position: relative;
}
.modal-body .dish-description #load {
    width: 170px;
    height: 49px;
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    float: right;
    overflow: hidden;
    position: relative;
    background: white;
    padding: 0;
    color: black;
}
.modal-body .dish-description .load input[type=file]{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(20);
    letter-spacing: 10em;     /* IE 9 fix */
    -ms-transform: scale(20); /* IE 9 fix */
    opacity: 0;
    cursor: pointer
}

.modal-body #add {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    background-color: #ff7901;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 50px;
}

#delete-item .modal-body {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 80px;
}

#delete-item h3 {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 35px;
}

#delete-item .cancel {
    width: 170px;
    height: 50px;
    border-radius: 5px;
    background-color: #f9f9f9;
    float: left;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
}

#delete-item .delete {
    width: 170px;
    height: 50px;
    border-radius: 5px;
    background-color: #ff7901;
    float: right;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
