

.main .requests {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-decoration: none;
    line-height: 45px;
    margin-right: 45px;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
    float: right;
}

.main .requests .number {
    float: right;
    margin-top: 12px;
    margin-left: 5px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #ff7901;
    color: white;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
    padding-right: 2px;
}

.main .container .col-md-1 {
    width: 11.11111%;
    margin-right: 1.5873%;
    margin-bottom: 30px;
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.main .container .col-md-1 .courier-picture, .courier-name {
    width: 100%;
}

.main .container .col-md-1 .courier-picture img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.main .container .col-md-1 .courier-name img {
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.main .container .col-md-1 .courier-name span {
    overflow: hidden;
    position: absolute;
    font-size: 0.9vw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: black;
    width: 80%;
    left: 10%;
    bottom: 15%;
}

.main .container .col-md-1 .courier-name img {
    opacity: 0;
}

.main .container .col-md-1:hover .courier-name img {
    opacity: 1;
    background: #ff7901;
}

.main .container .col-md-1:active .courier-name img {
    opacity: 1;
    background: #ff7901;
}

.main .container .col-md-1:hover .courier-name span {
    color: white;
}

.main .container .col-md-1:active .courier-name span {
    color: white;
}